<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.DeptMapper">
    <resultMap id="BaseResultMap" type="com.dayi.follow.model.follow.Department">
        <id property="id" column="id"/>

        <result property="pid" column="pid"/>

        <result property="sortNo" column="sort_no"/>

        <result property="name" column="name"/>
        <result property="cityServer" column="city_server"/>
        <result property="remark" column="remark"/>
        <!--agent-->
        <result property="cityInviteCode" column="city_invite_code"/>
        <result property="personNum" column="person_num"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="updateTime"/>
        <association property="parentDept" javaType="com.dayi.follow.model.follow.Department"
                     select="com.dayi.follow.dao.follow.DeptMapper.get"
                     column="pid" fetchType="eager">

        </association>
        <collection property="subDeptList" ofType="com.dayi.follow.model.follow.Department"
                    select="com.dayi.follow.dao.follow.DeptMapper.getSubDepts"
                    column="id" fetchType="eager">
        </collection>
    </resultMap>

    <select id="getTopList" resultMap="BaseResultMap">
        SELECT * from department where pid is null or pid='' ORDER by sort_no asc
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * from department where id =#{deptId}
    </select>

    <select id="getSubDepts" resultMap="BaseResultMap">
        SELECT * from department where pid =#{deptId}
    </select>
</mapper>