<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.FollowOrgMapper">

    <select id="getTotalFund" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(0.8*d.cargo_interest+d.cargo_interest_puchas),0) from follow_org a
        left join (
          SELECT id from ${assistDataBase}.organization where org_type = 4 and del_status !=-1
        )b on b.id = a.org_id
        left join(
          SELECT id,org_id from ${assistDataBase}.agent where del_status !=-1
        )c on c.org_id=b.id
        left join (
            SELECT agent_org_id,cargo_interest,cargo_interest_puchas from ${assistDataBase}.finance_account
        )d on d.agent_org_id = c.id
        where b.id is not null and c.org_id is not NULL and d.agent_org_id is not NULL
        and a.follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



    <select id="findOrgsByfollowId" parameterType="map" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from follow_org a
        left join (
          SELECT * from ${assistDataBase}.organization where del_status !=-1
          <if test="''!=deadline and null!=deadline">
              and create_date &lt; #{deadline}
          </if>
        )b on b.id = a.org_id
        where follow_id = #{followId} and b.id is not null

    </select>

    <select id="findOrgsByfollowIds" parameterType="map" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from follow_org a
        left join (
        SELECT * from ${assistDataBase}.organization where del_status !=-1
        <if test="''!=deadline and null!=deadline">
            and create_date &lt; #{deadline}
        </if>
        )b on b.id = a.org_id
        where  b.id is not null
        and follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFollowIdByOrgId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT follow_id from follow_org where org_id =#{orgId}
    </select>

    <select id="findContacts" resultType="com.dayi.follow.model.follow.OrgContact" parameterType="java.lang.Integer" >
        SELECT * FROM `org_contact` a
        left join (
            SELECT id,name followUp from follow_up
        )b on b.id =a.follow_id
        WHERE org_id = #{orgId} order by create_time desc LIMIT #{limitStart},#{limitEnd}
    </select>

    <select id="getContactsNum" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
        SELECT count(0) FROM `org_contact` WHERE org_id = #{orgId}
    </select>

    <select id="getFollowOrgByOrgId" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.FollowOrg">
        SELECT * from follow_org where org_id =#{orgId}
    </select>
    
    <select id="findOrgs" parameterType="map" resultType="com.dayi.follow.vo.org.OrgListVo">
        select a.id, a.link_person ,a.create_date ,a.mobile ,
                a.expiration_date ,a.maker_num inviteCode,a.id_card,
                a.org_type,a.experience_maker
        from ${assistDataBase}.organization a
        left join (
            select org_id,assign_date from follow_org  where follow_id =#{followId}
        )b on a.id = b.org_id
        where b.org_id is not null
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
        and a.maker_num like CONCAT('%','${searchVo.inviteCode}','%' )
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and a.mobile like CONCAT('%','${searchVo.mobile}','%' )
        </if>
        <if test="null!=searchVo.orgType">
            and a.org_type=#{searchVo.orgType}
        </if>

        ORDER BY b.assign_date DESC
    </select>

    <select id="findTeamOrgs" parameterType="map" resultType="com.dayi.follow.vo.org.OrgListVo">
        select a.id, a.link_person ,a.create_date ,a.mobile , c.name followUp,
        a.expiration_date ,a.maker_num inviteCode,a.org_type,a.experience_maker,
        a.id_card
        from ${assistDataBase}.organization a
        left join (
            select org_id,follow_id,create_time from follow_org  where follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        )b on a.id = b.org_id
        left join (
            SELECT id ,name from follow_up where disable!=0
        )c on c.id =b.follow_id
        where b.org_id is not null
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and a.maker_num like CONCAT('%','${searchVo.inviteCode}','%')
        </if>
        <if test="''!=searchVo.followUp and null!=searchVo.followUp">
            and c.id is not null and c.name like CONCAT('%','${searchVo.followUp}','%')
        </if>
        <if test="''!=searchVo.orgType and null!=searchVo.orgType">
            and a.org_type=#{searchVo.orgType}
        </if>
        ORDER BY b.create_time DESC
    </select>

    <sql id="assignsFollowCondition">
        <if test="null!=searchVo.createDateStart and ''!= searchVo.createDateStart and null!=searchVo.createDateEnd and ''!= searchVo.createDateEnd">
            and b.create_date BETWEEN #{searchVo.createDateStart} and #{searchVo.createDateEnd}
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and b.mobile like CONCAT('%','${searchVo.mobile}','%')
        </if>
        <if test="''!=searchVo.cusName and null!=searchVo.cusName">
            and b.link_person like CONCAT('%','${searchVo.cusName}','%')
        </if>
        <if test="null!=searchVo.assignDateStart and ''!= searchVo.assignDateStart and null!=searchVo.assignDateEnd and ''!= searchVo.assignDateEnd">
            and a.assign_date BETWEEN #{searchVo.assignDateStart} and #{searchVo.assignDateEnd}
        </if>
        <if test="''!=searchVo.followUp and null!=searchVo.followUp">
            and c.name like CONCAT('%','${searchVo.followUp}','%')
        </if>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and b.maker_num like CONCAT('%','${searchVo.inviteCode}','%')
        </if>
        <if test="''!=searchVo.orgType and null!=searchVo.orgType">
            and b.org_type  = #{searchVo.orgType}
        </if>
    </sql>

    <sql id="assignsNoFollowCondition">
        <if test="null!=searchVo.createDateStart and ''!= searchVo.createDateStart and null!=searchVo.createDateEnd and ''!= searchVo.createDateEnd">
            and a.create_date BETWEEN #{searchVo.createDateStart} and #{searchVo.createDateEnd}
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and a.mobile like CONCAT('%','${searchVo.mobile}','%')
        </if>
        <if test="''!=searchVo.cusName and null!=searchVo.cusName">
            and a.link_person like CONCAT('%','${searchVo.cusName}','%')
        </if>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and a.maker_num  like CONCAT('%','${searchVo.inviteCode}','%')
        </if>
        <if test="''!=searchVo.orgType and null!=searchVo.orgType">
            and a.org_type  = #{searchVo.orgType}
        </if>
    </sql>

    <select id="findAssignsFollow" parameterType="map" resultType="com.dayi.follow.vo.agent.AssignListVo">
        SELECT b.id,link_person,create_date,mobile,id_card,org_id,follow_id, assign_date,c.name followUp,
              maker_num inviteCode,b.org_type,b.experience_maker from follow_org a
        left join (
            SELECT id,link_person,create_date,mobile,id_card,maker_num ,
                   audit_date,org_type,experience_maker
                   from ${assistDataBase}.organization where del_status !=-1
        )b on b.id = a.org_id
        LEFT JOIN (
            SELECT id,name  from follow_up
        )c on c.id = a.follow_id
        where b.id is not null and c.id is not null
        <include refid="assignsFollowCondition"/>
        order by b.audit_date desc
    </select>

    <select id="findAssignsNoFollow" parameterType="map" resultType="com.dayi.follow.vo.agent.AssignListVo">
        SELECT id,link_person,create_date,mobile,id_card,maker_num inviteCode,
            audit_date,org_type,experience_maker
        from ${assistDataBase}.organization a
        CROSS join(
            SELECT org_id,follow_id from follow_org
        )b on b.org_id =a.id
        where b.follow_id is null and  del_status !=-1
        <include refid="assignsNoFollowCondition"/>
        order by a.audit_date desc
    </select>

</mapper>