<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.FollowUpMapper">

    <select id="findByDeptIds" parameterType="java.lang.String" resultType="com.dayi.follow.model.follow.FollowUp">
        SELECT * from follow_up where disable !=0 and identity =1
        and dept_id in
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="findIdsByDeptIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id from follow_up where disable !=0 and identity =1
        and dept_id in
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <select id="findIdsByDeptId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id from follow_up where disable !=0 and identity =1
        and dept_id =#{deptId}
    </select>

    <select id="findAssignSelect" parameterType="map" resultType="com.dayi.follow.vo.followup.FollowUpListVo">
        SELECT * from follow_up where identity =1 and disable !=0 and id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="''!=followUp and null!=followUp">
            and name like CONCAT('%','${followUp}','%' )
        </if>
    </select>

    <select id="findAllAssignSelect" parameterType="map" resultType="com.dayi.follow.vo.followup.FollowUpListVo">
        SELECT * from follow_up where identity =1 and disable !=0
        <if test="''!=followUp and null!=followUp">
            and name like CONCAT('%','${followUp}','%' )
        </if>
    </select>

    <select id="findFollowUps" resultType="com.dayi.follow.vo.followup.FollowUpListVo" parameterType="map">
        SELECT a.id,a.name,a.invite_code,e.name deptName,a.user_name,a.disable,count(DISTINCT c.id)agentNum,
              sum(0.8*d.cargo_interest+d.cargo_interest_puchas)agentFund,a.create_time
        from follow_up a
        left join (
            select follow_id,agent_id from follow_agent
        )b on b.follow_id =a.id
        LEFT join (
            select id,account_id from ${assistDataBase}.agent where del_status!=-1
        )c on c.id =b.agent_id
        LEFT join (
            SELECT id,cargo_interest,cargo_interest_puchas from ${assistDataBase}.finance_account
        )d on d.id = c.account_id
        left join (
            SELECT  id,name from department
        )e on e.id =a.dept_id
        where a.identity =1 and a.disable !=0
        <if test="''!=mobile and null!=mobile">
            and a.mobile =#{mobile}
        </if>

        <if test="null!=deptIds and 0!=deptIds.size()">
        and e.id in
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>

        <if test="''!=inviteCode and null!=inviteCode">
            and a.invite_code =#{inviteCode}
        </if>
        GROUP BY a.id
    </select>

    <select id="getFollowUpsNum" resultType="java.lang.Integer">
        SELECT count(0) from follow_up where identity =1 and disable !=0
        <if test="''!=mobile and null!=mobile">
            and mobile =#{mobile}
        </if>

        and id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

        <if test="''!=inviteCode and null!=inviteCode">
            and invite_code =#{inviteCode}
        </if>
    </select>

    <sql id="conditions">
        <if test="''!=searchVo.followUp and null!=searchVo.followUp">
            and c.name like CONCAT('%','${searchVo.followUp}','%' )
        </if>
        <if test="''!=searchVo.followUpBefore and null!=searchVo.followUpBefore">
            and a.follow_up_before like CONCAT('%','${searchVo.followUpBefore}','%' )
        </if>
        <if test="''!=searchVo.cusName and null!=searchVo.cusName">
            and b.link_person like CONCAT('%','${searchVo.cusName}','%' )
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and b.mobile like CONCAT('%','${searchVo.mobile}','%' )
        </if>
        <if test="null!=searchVo.changeDateStart and ''!= searchVo.changeDateStart and null!=searchVo.changeDateEnd and ''!= searchVo.changeDateEnd">
            and a.assign_date BETWEEN #{searchVo.changeDateStart} and #{searchVo.changeDateEnd}
        </if>

    </sql>


    <select id="findAgents" parameterType="map" resultType="com.dayi.follow.vo.followup.FMDetailListVo">
        SELECT a.follow_id,a.follow_up_before,a.assign_date changeDate,a.agent_fund_before agentCargoBefore,
        a.total_fund_before,b.id,b.link_person,b.mobile,b.create_date,b.record_invite_code inviteCode,c.name followUp
        from follow_agent a
        left join (
            select * from ${assistDataBase}.agent where del_status !=-1
        )b on b.id =a.agent_id
        left join (
            select * from follow_up where identity!=0 and disable!=0
        )c on c.id =a.follow_id
        where b.id is not NULL and c.disable!=0

        <if test="null!=followIds and 0!=followIds.size()">
            and a.follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <include refid="conditions"/>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and b.record_invite_code like CONCAT('%','${searchVo.inviteCode}','%' )
        </if>
    </select>



    <select id="findOrgs" parameterType="map" resultType="com.dayi.follow.vo.followup.FMDetailListVo">
        SELECT a.follow_id,a.follow_up_before,a.assign_date changeDate,a.manage_fund_before agentCargoBefore,
        b.id,b.link_person,b.mobile,b.create_date,b.maker_num inviteCode,c.name followUp
        from follow_org a
        left join (
        select * from ${assistDataBase}.organization where del_status !=-1
        )b on b.id =a.org_id
        left join (
        select * from follow_up where identity!=0 and disable!=0
        )c on c.id =a.follow_id
        where b.id is not null

        <if test="null!=followIds and 0!=followIds.size()">
            and a.follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <include refid="conditions"/>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and b.maker_num like CONCAT('%','${searchVo.inviteCode}','%' )
        </if>
    </select>

    <select id="findAll" resultType="com.dayi.follow.model.follow.FollowUp">
        SELECT * from follow_up where disable!=0 and identity=1
    </select>

    <select id="getByInviteCode" parameterType="java.lang.String" resultType="com.dayi.follow.model.follow.FollowUp">
        SELECT * from follow_up where invite_code =#{inviteCode} and  identity =1 and disable!=0
    </select>

</mapper>