<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.FollowAgentMapper">

    <resultMap id="AgentContactResultMap" type="com.dayi.follow.model.AgentContact">
        <result property="createTime" column="create_date" />
        <result property="content" column="content" />
    </resultMap>

    <sql id="findAgentsSelect">
         SELECT
                a.invite_code flowUpInviteCode,
                a.id ,a.name,

                b.flow_date ,
                b.follow_id ,b.customer_type , b.cus_intention_type
    </sql>


    <sql id="ConditionQuery">
        -- 归属条件
        <if test="null!=whereSql and ''!=whereSql">
            #{whereSql}
        </if>
        <if test="null!=followId">
            AND a.flow_id =#{followId}
        </if>

        -- 页面查询条件
        -- 客户类型
        <if test="null!=searchVo.customerType and -1!=searchVo.customerType">
            AND b.customer_type =#{searchVo.customerType}
        </if>
        -- 页面查询条件：跟进人
        <if test=" ''!=searchVo.followUp and null!=searchVo.followUp">
            AND a.follow_up like like '%#{searchVo.followUp}%'
        </if>
        ORDER BY b.flow_date DESC

    </sql>

    <!--查找跟进人跟进的代理商id-->
    <select id="findAgentIdFollow" resultType="java.lang.Integer" parameterType="map">
        SELECT agent_id from (
            SELECT id,agent_id from follow_up a
              left join (
                  SELECT agent_id,follow_id,flow_date,customer_type,cus_intention_type from follow_agent
                )b on b.follow_id=a.id
                WHERE 1 = 1 and a.disable != -1 and agent_id is not null
                )t
    </select>

    <!--统计待联系代理商id集合-->
    <select id="getWaitLinkAgentIds" resultType="java.lang.Integer" parameterType="string">
        select ac2.agent_id id FROM ( SELECT max( create_date ) create_date, agent_id
        FROM agent_contact where 1=1
        <if test="null != followUpId">
            AND flow_id =#{followUpId}
        </if>
        GROUP BY agent_id ) ac1
        LEFT JOIN ( SELECT create_date, agent_id, next_contact_time FROM agent_contact ) ac2
        ON ac2.create_date = ac1.create_date
        AND ac2.agent_id = ac1.agent_id WHERE next_contact_time = CURDATE()
    </select>

    <select id="findLastContact" resultMap="AgentContactResultMap" parameterType="java.lang.Integer" >
         SELECT create_date,content FROM `agent_contact` WHERE agent_id = #{agentId} ORDER BY create_date DESC LIMIT 1
    </select>

</mapper>