<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.FollowAgentMapper">

    <resultMap id="AgentContactResultMap" type="com.dayi.follow.model.follow.AgentContact">
        <result property="createTime" column="create_time" />
        <result property="content" column="content" />
    </resultMap>

    <resultMap id="BaseResultMap" type="com.dayi.follow.vo.agent.AgentListVo">
        <id property="id" column="id" />
        <!--follow_up-->
        <result property="flowUpInviteCode" column="flowUpInviteCode" />
        <!--follow_agent-->
        <result property="customerType" column="customer_type" />
        <result property="cusIntentionType" column="cus_intention_type" />
        <result property="flowId" column="flow_id" />
        <result property="followUp" column="follow_up" />
        <!--agent-->
        <result property="linkPerson" column="link_person" />
        <result property="bankName" column="bank_name" />
        <result property="cardValidDate" column="card_valid_date" />
        <result property="bankSignDate" column="bank_sign_date" />
        <result property="mobile" column="mobile" />
        <result property="idCardValidate" column="id_card_validate" />
        <result property="cancelStatus" column="cancel_status" />
        <result property="auditStatus" column="audit_status" />
        <result property="bankSign" column="bank_sign" />
        <result property="recordInviteCode" column="record_invite_code" />
        <result property="idCard" column="id_card" />
        <!--finance_account-->
        <result property="inCash" column="inCash" />
        <result property="fristInCashDate" column="frist_in_cash_date" />
        <!--finance_account\protocol-->
        <result property="totalFund" column="totalFund" />
        <!--finance_account_log-->
        <result property="dayInCash" column="dayInCash" />
        <result property="dayOutCash" column="dayOutCash" />
        <result property="dayLastInCashTime" column="dayLastInCashTime" />
        <result property="dayLastOutCashTime" column="dayLastOutCashTime" />

        <result property="createDate" column="create_date" />
    </resultMap>


    <sql id="findAgentsSelect">
        SELECT
        a.assign_date ,
        a.follow_id ,a.customer_type , a.cus_intention_type,

        b.invite_code flowUpInviteCode,b.name followUp,


        c.id, c.link_person , c.bank_name , c.create_date ,
        c.card_valid_date ,c.bank_sign_date , c.mobile,
        c.bank_sign , c.record_invite_code ,
        c.id_card ,

        IFNULL(d.total_in_cash, 0) inCash,
        d.frist_in_cash_date ,
        IFNULL(d.useable + d.frozen + d.out_frozen + 0.8*d.cargo_interest+d.cargo_interest_puchas, 0) totalFund,
        
        IFNULL(f.outCash, 0) dayOutCash,
        IFNULL(f.inCash, 0) dayInCash,
        f.dayLastInCashTime,
        f.dayLastOutCashTime

    </sql>

    <sql id="countNum">
        SELECT count(0)
    </sql>

    <sql id="findAgentsSql">
        from follow_agent a

        left join (
             select id,invite_code,name,disable from follow_up
        )b on a.follow_id=b.id

        left join (
        select  id, link_person , bank_name , create_date ,
        card_valid_date ,bank_sign_date , mobile,
        bank_sign , record_invite_code ,id_card,
        account_id,uc_id,bank_account
        from ${assistDataBase}.agent  where del_status != -1
        )c on c.id = a.agent_id

        left join ${assistDataBase}.finance_account d on d.id = c.account_id

        left join (
        SELECT pay_uc_id, MAX( CASE WHEN pay_type = '1' THEN accrual END ) AS inCash,
        MAX(CASE WHEN pay_type = '-114' THEN accrual END ) AS outCash,
        MAX(CASE WHEN pay_type = '1' THEN createDate END ) AS dayLastInCashTime,
        MAX(CASE WHEN pay_type = '-114' THEN createDate END ) AS dayLastOutCashTime
        FROM (
        SELECT pay_uc_id,`pay_type`,SUM(accrual) accrual,MAX(`create_date`)createDate
        FROM ${assistDataBase}.finance_account_log
        WHERE create_date BETWEEN #{startStr} and #{endStr}
        AND pay_type  IN (1,-114) and account_type = 0
        GROUP BY pay_uc_id,`pay_type`
        )f1
        GROUP BY `pay_uc_id`
        )f ON c.uc_id = f.pay_uc_id

        left join (
        SELECT agent_id,GROUP_CONCAT( bank_id ORDER BY bank_id ) bank_ids
        FROM ${assistDataBase}.finance_vitrual_account
        GROUP BY agent_id
        )g ON c.id = g.agent_id

        WHERE 1 = 1  and b.disable != -1
    </sql>

   <sql id="followConditionSql">
--                跟进人相关表查询条件
--        归属条件
       <if test="null!=followId">
           AND b.id =#{followId}
       </if>


   </sql>
    <sql id="followTeamConditionSql">
        <if test="null!=followIds and 0 != followIds.size ">
            AND b.id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>

        </if>
    </sql>

    <sql id="ConditionQuery">
        -- 页面查询条件
        -- 客户类型
        <if test="null!=searchVo.customerType">
            AND a.customer_type =#{searchVo.customerType}
        </if>
        -- 页面查询条件：跟进人
        <if test=" ''!=searchVo.followUp and null!=searchVo.followUp">
            AND b.name  like CONCAT('%','${searchVo.followUp}','%')
        </if>

        --         大易相关表查询条件
        -- 今日待联系代理商的ID集合
        <if test="null!=ids and 0!=ids.size()">
            and c.id in
            <foreach item="item" index="index" collection="ids"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="null!=ids and 0==ids.size()">
            and 0 = 1
        </if>
        -- 下面是页面查询条件
        -- 是否实名认证
        <if test="null!=searchVo.idCardValidate">
            <choose>
                <when test="1==searchVo.idCardValidate">
                    AND c.id_card is not null
                </when>
                <otherwise>
                    AND c.id_card is  null
                </otherwise>
            </choose>
        </if>
        -- 是否绑卡
        <if test="null!=searchVo.bankSign">
            <if test="0==searchVo.bankSign">
                AND c.bank_account is null
            </if>
            <if test="1==searchVo.bankSign">
                AND c.bank_account is not null
            </if>
        </if>
        -- 已开通结算银行
        <if test="null!=searchVo.bankTypeStr and ''!=searchVo.bankTypeStr">
            and g.bank_ids like CONCAT('%','${searchVo.bankTypeStr}','%' )
        </if>

        -- 客户总资产
        <if test="null!=searchVo.totalFound">
            -- 总资产为0
            <if test="1==searchVo.totalFound">
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) = 0
            </if>
            -- 2W及2W以下(不包括0)不包括0
            <if test="2==searchVo.totalFound">
                AND 0 &lt; IFNULL (d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0)
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) &lt;= 20000
            </if>
            -- 2W~10W
            <if test="3==searchVo.totalFound">
                AND 20000 &lt; IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0)
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) &lt;= 100000
            </if>
            -- 10W~50W
            <if test="4==searchVo.totalFound">
                AND 100000 &lt; IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0)
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) &lt;= 500000
            </if>
            -- 50W~100W
            <if test="5==searchVo.totalFound">
                AND 500000 &lt; IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0)
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) &lt;= 1000000
            </if>
            -- 100W~300W
            <if test="6==searchVo.totalFound">
                AND 1000000 &lt; IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0)
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) &lt;= 3000000
            </if>
            -- 300W以上
            <if test="7==searchVo.totalFound">
                AND IFNULL(d.useable + d.frozen + d.out_frozen +  0.8*d.cargo_interest+d.cargo_interest_puchas, 0) > 3000000
            </if>
        </if>

        -- 是否入金
        <if test="null!=searchVo.inCash">
            <choose>
                <when test="1==searchVo.inCash">
                    AND ifnull(d.total_in_cash,0) > 0
                </when>
                <otherwise>
                    AND ifnull(d.total_in_cash,0) &lt;= 0
                </otherwise>
            </choose>
        </if>

        -- 今日是否入金
        <if test=" null!=searchVo.todayInCash">
            <choose>
                <when test="1==searchVo.todayInCash">
                    AND ifnull(f.inCash,0) > 0
                </when>
                <otherwise>
                    AND (ifnull(f.inCash,0) &lt;= 0 or f.inCash is null)
                </otherwise>
            </choose>
        </if>

        -- 今日是否出金
        <if test=" null!=searchVo.todayOutCash">
            <choose>
                <when test="1==searchVo.todayOutCash">
                    AND ifnull(f.outCash,0) > 0
                </when>
                <otherwise>
                    AND (ifnull(f.outCash,0) &lt;= 0 or f.outCash is null)
                </otherwise>
            </choose>
        </if>


        <if test=" ''!=searchVo.mobile and null!=searchVo.mobile">
            AND c.mobile like CONCAT('%','${searchVo.mobile}','%' )
        </if>
        -- 页面查询条件：邀请码
        <if test=" ''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            AND c.record_invite_code like CONCAT('%','${searchVo.inviteCode}','%' )
        </if>
        --         根据分配日期排序
        ORDER BY a.assign_date DESC
    </sql>

    <!--分页查找代理商列表-->
    <select id="findAgents" resultMap="BaseResultMap" parameterType="map">
        <include refid="findAgentsSelect"/>
        <include refid="findAgentsSql"/>
        <include refid="followConditionSql"/>
        <include refid="ConditionQuery"/>
    </select>

    <!--分页查找团队代理商列表-->
    <select id="findTeamAgents" resultMap="BaseResultMap" parameterType="map">
        <include refid="findAgentsSelect"/>
        <include refid="findAgentsSql"/>
        <include refid="followTeamConditionSql"/>
        <include refid="ConditionQuery"/>
    </select>


    <!--统计待联系代理商id集合-->
    <select id="getWaitLinkAgentIds" resultType="java.lang.Integer" parameterType="string">
        select ac2.agent_id id FROM ( SELECT max( create_time ) create_time, agent_id
        FROM agent_contact where 1=1
        <if test="null != followUpId">
            AND flow_id =#{followUpId}
        </if>
        GROUP BY agent_id ) ac1
        LEFT JOIN ( SELECT create_time, agent_id, next_contact_time FROM agent_contact ) ac2
        ON ac2.create_time = ac1.create_time
        AND ac2.agent_id = ac1.agent_id WHERE next_contact_time = CURDATE()
    </select>

    <select id="findLastContact" resultMap="AgentContactResultMap" parameterType="java.lang.Integer" >
         SELECT create_time,content FROM `agent_contact` WHERE agent_id = #{agentId} ORDER BY create_time DESC LIMIT 1
    </select>


    <select id="getTotalFund" parameterType="java.lang.String" resultType="java.math.BigDecimal">
        SELECT sum(amount) from follow_agent a
        left join (
        SELECT agent,amount FROM ${assistDataBase}.protocol WHERE 1 = 1 and status in (1,2)
        )b on b.agent = a.agent_id
        where b.agent is not NULL
        and a.follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFollowIdByAgentId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT follow_id from follow_agent where agent_id =${agentId}
    </select>

    <select id="findContacts" resultType="com.dayi.follow.vo.agent.AgentContactVo" parameterType="java.lang.Integer" >
        SELECT * FROM `agent_contact` WHERE agent_id = #{agentId} order by create_time desc LIMIT #{limitStart},#{limitEnd}
    </select>

    <select id="getAssignDate" parameterType="java.lang.Integer" resultType="java.util.Date">
        SELECT assign_date from follow_agent where agent_id =${agentId}
    </select>

    <select id="getFollowAgentByAgentId" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.FollowAgent">
        SELECT * from follow_agent where agent_id =${agentId}
    </select>

    <sql id="assignsFollowCondition">
        <if test="null!=searchVo.createDateStart and ''!= searchVo.createDateStart and null!=searchVo.createDateEnd and ''!= searchVo.createDateEnd">
            and b.create_date BETWEEN ${searchVo.createDateStart} and ${searchVo.createDateEnd}
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and b.mobile like CONCAT('%','${searchVo.mobile}','%')
        </if>
        <if test="''!=searchVo.cusName and null!=searchVo.cusName">
            and b.link_person like CONCAT('%','${searchVo.cusName}','%')
        </if>
        <if test="null!=searchVo.assignDateStart and ''!= searchVo.assignDateStart and null!=searchVo.assignDateEnd and ''!= searchVo.assignDateEnd">
            and a.assign_date BETWEEN ${searchVo.assignDateStart} and ${searchVo.assignDateEnd}
        </if>
        <if test="''!=searchVo.followUp and null!=searchVo.followUp">
            and c.name like CONCAT('%','${searchVo.followUp}','%')
        </if>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and b.record_invite_code like CONCAT('%','${searchVo.inviteCode}','%')
        </if>
    </sql>

    <sql id="assignsNoFollowCondition">
        <if test="null!=searchVo.createDateStart and ''!= searchVo.createDateStart and null!=searchVo.createDateEnd and ''!= searchVo.createDateEnd">
            and a.create_date BETWEEN #{searchVo.createDateStart} and #{searchVo.createDateEnd}
        </if>
        <if test="''!=searchVo.mobile and null!=searchVo.mobile">
            and a.mobile like CONCAT('%','${searchVo.mobile}','%')
        </if>
        <if test="''!=searchVo.cusName and null!=searchVo.cusName">
            and a.link_person like CONCAT('%','${searchVo.cusName}','%')
        </if>
        <if test="''!=searchVo.inviteCode and null!=searchVo.inviteCode">
            and a.record_invite_code  like CONCAT('%','${searchVo.inviteCode}','%')
        </if>
    </sql>

    <select id="findAssignsFollow" parameterType="map" resultType="com.dayi.follow.vo.agent.AssignListVo">
        SELECT b.id,link_person,create_date,mobile,bank_name bank,id_card,bank_account,
              follow_id, assign_date,c.name followUp,record_invite_code inviteCode
              from follow_agent a
        left join (
            SELECT id,link_person,create_date,mobile,bank_name ,id_card,bank_account,record_invite_code,audit_date
            from ${assistDataBase}.agent where del_status !=-1
        )b on b.id = a.agent_id
        LEFT JOIN (
            SELECT id,name  from follow_up
        )c on c.id = a.follow_id
        where b.id is not null and c.id is not null
        <include refid="assignsFollowCondition"/>
        order by b.audit_date desc
    </select>

    <select id="findAssignsNoFollow" parameterType="map" resultType="com.dayi.follow.vo.agent.AssignListVo">
        SELECT a.id,link_person,create_date,mobile,bank_name bank,id_card,bank_account,record_invite_code inviteCode,audit_date
            from ${assistDataBase}.agent a
        CROSS join (
            SELECT agent_id,follow_id  from follow_agent
        )b on b.agent_id =a.id
        where del_status !=-1 and b.follow_id is null
        <include refid="assignsNoFollowCondition"/>
        order by a.audit_date desc
    </select>

    <select id="findAgentsByFollowId" parameterType="map" resultType="com.dayi.follow.model.follow.Agent">
        SELECT * from follow_agent a
        left join (
            select id from ${assistDataBase}.agent where del_status!=-1
        )b on b.id =a.agent_id
        where b.id is not null and follow_id = #{followId}

    </select>

    <select id="getAgentNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from follow_agent a
        left join (SELECT id FROM ${assistDataBase}.agent  where del_status != -1) b on b.id = a.agent_id
        WHERE  a.follow_id =#{followId}
    </select>

    <select id="getOrgNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from follow_org a
        left join (
            SELECT id FROM ${assistDataBase}.organization  where del_status != -1 and org_type = 4
        ) b on b.id = a.org_id
        WHERE  a.follow_id =#{followId}
    </select>

    <select id="getOpenAccountNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(create_date) from follow_agent a
        LEFT JOIN (
            SELECT min(create_date) as create_date,agent from ${assistDataBase}.protocol
            group by agent HAVING create_date between #{startDate}  and #{endDate}
        )b on b.agent=a.agent_id
        WHERE a.follow_id =#{followId}
    </select>

    <select id="getInCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(inAccrual),0) from follow_agent a
        LEFT JOIN (
            select agent_org_id,sum(accrual)inAccrual
            from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
            and pay_type=1 and account_type != 1 GROUP BY agent_org_id
        )b on b.agent_org_id=a.agent_id
        WHERE a.follow_id =#{followId}
    </select>

    <select id="getInCashNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.pay_type) from follow_agent a
        LEFT JOIN (
            select agent_org_id,pay_type
            from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
            and pay_type=1 and account_type != 1
            GROUP BY agent_org_id
        )b on b.agent_org_id=a.agent_id
        WHERE a.follow_id =#{followId}
    </select>

    <select id="getOutCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(outAccrual),0) from follow_agent a
        LEFT JOIN (
            select agent_org_id,sum(accrual)outAccrual
            from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
            and pay_type in (-9,-112) and account_type != 1 GROUP BY agent_org_id
        )b on b.agent_org_id=a.agent_id
        WHERE a.follow_id =#{followId}
    </select>

    <select id="getOutCashNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.pay_type) from follow_agent a
        LEFT JOIN (
            select agent_org_id ,pay_type
            from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
            and pay_type in (-9,-112) and account_type != 1
            GROUP BY agent_org_id
        )b on b.agent_org_id=a.agent_id
        WHERE a.follow_id =#{followId}
    </select>

</mapper>