<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.FollowOrgMapper">

    <select id="getTotalFund" parameterType="java.lang.String" resultType="java.lang.Double">
        SELECT sum(amount) from follow_org a
        left join (
          SELECT id from organization where org_type = 4 and del_status !=-1
        )b on b.id = a.org_id
        left join (
          SELECT agent,amount FROM protocol WHERE 1 = 1 and status in (1,2)
        )c on c.agent = a.org_id
        where b.id is not null and  c.agent is not NULL
        and a.follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findOrgsByfollowId" parameterType="map" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from follow_org a
        left join (
          SELECT * from organization where org_type=4 and del_status !=-1
          <if test="''!=deadline and null!=deadline">
              and create_date &lt; ${dateStr}
          </if>
        )b on b.id = a.org_id
        where follow_id = ${deadline} and b.id is not null

    </select>

    <select id="findOrgsByfollowIds" parameterType="map" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from follow_org a
        left join (
        SELECT * from organization where org_type=4 and del_status !=-1
        <if test="''!=deadline and null!=deadline">
            and create_date &lt; ${dateStr}
        </if>
        )b on b.id = a.org_id
        where  b.id is not null
        and follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFollowIdByOrgId" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT follow_id from follow_org where org_id =${orgId}
    </select>

    <select id="findContacts" resultType="com.dayi.follow.model.follow.OrgContact" parameterType="java.lang.Integer" >
        SELECT * FROM `org_contact` WHERE agent_id = #{agentId} order by create_date desc LIMIT #{limitStart},#{limitEnd}
    </select>

    <select id="getFollowOrgByOrgId" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.FollowOrg">
        SELECT * from follow_org where agent_id =${orgId}
    </select>
    
    <select id="findOrgs" parameterType="map" resultType="com.dayi.follow.vo.OrgListVo">
        select a.id, a.link_person ,a.create_date ,a.mobile ,
                a.expiration_date ,a.maker_num
        from ${assistDataBase}.organization a
        left join (
            select org_id,create_date from follow_org  where a.follow_id =${followId}
        )b on a.id = b.org_id
        where b.org_id is not null
        <if test="''!=inviteCode and null!=inviteCode">
        and a.maker_num =${inviteCode}
        </if>
        <if test="''!=mobile and null!=mobile">
            and a.mobile =${mobile}
        </if>

        ORDER BY b.create_date DESC
        limit ${limitStart},${limitEnd}

    </select>

    <select id="findTeamOrgs" parameterType="map" resultType="com.dayi.follow.vo.OrgListVo">
        select a.id, a.link_person ,a.create_date ,a.mobile , a.follow_up ,
        a.expiration_date ,a.maker_num
        from ${assistDataBase}.organization a
        left join (
            select org_id,follow_id,create_date from follow_org  where a.follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        )b on a.id = b.org_id
        left join (
            SELECT id ,name from follow_up
        )c on c.id =b.follow_id
        where b.org_id is not null
        <if test="''!=inviteCode and null!=inviteCode">
            and a.maker_num =${inviteCode}
        </if>
        <if test="''!=followUp and null!=followUp">
            and c.id is not null and c.name =${followUp}
        </if>

        ORDER BY b.create_date DESC
        limit ${limitStart},${limitEnd}
    </select>

</mapper>