<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.ReportMapper">
    <select id="findDailyList" parameterType="map" resultType="com.dayi.follow.vo.report.ReportDailyVo">
        SELECT * from follow_up_log
        where follow_id =#{followId}
        and create_date BETWEEN #{startDate} and #{endDate}
        ORDER  by create_date desc
        limit #{limitStart},#{limitEnd}
    </select>

    <select id="findDailyCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(0) from follow_up_log
        where follow_id =#{followId}
        and create_date BETWEEN #{startDate} and #{endDate}
        ORDER  by create_date desc
    </select>

</mapper>