<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.ReportMapper">
    <select id="findDailyList" parameterType="map" resultType="com.dayi.follow.vo.report.ReportDailyVo">
    SELECT * from follow_up_log
    where follow_id IN
    <foreach item="item" index="index" collection="followIds"
             open="(" separator="," close=")">
        #{item}
    </foreach>
    <if test="''!=startDate and null!=startDate and ''!=endDate and null!=endDate">
        and create_date BETWEEN #{startDate} and #{endDate}
    </if>
    ORDER  by create_date desc
    limit #{limitStart},#{limitEnd}
</select>

    <select id="findDailyCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(0) from follow_up_log
        where follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="''!=startDate and null!=startDate and ''!=endDate and null!=endDate">
            and create_date BETWEEN #{startDate} and #{endDate}
        </if>
        ORDER  by create_date desc
    </select>

    <select id="findDailyList" parameterType="map" resultType="com.dayi.follow.vo.report.ReportDailyVo">
        SELECT date(create_date),fd.name deptName,sum(open_account_num)openAccountNum,
        sum(manage_fund_growth),sum(in_cash),sum(in_cash_num),
        sum(out_cash),sum(out_cash_num)
        from follow_up_log
        where follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="''!=startDate and null!=startDate and ''!=endDate and null!=endDate">
            and create_date BETWEEN #{startDate} and #{endDate}
        </if>
        ORDER  by create_date desc
        limit #{limitStart},#{limitEnd}
    </select>

    <select id="findDailyCount" parameterType="map" resultType="java.lang.Long">
        SELECT count(0) from follow_up_log
        where follow_id in
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="''!=startDate and null!=startDate and ''!=endDate and null!=endDate">
            and create_date BETWEEN #{startDate} and #{endDate}
        </if>
        ORDER  by create_date desc
    </select>

</mapper>