<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.RolePermissionMapper">

    <resultMap id="rolePermissionResultMap" type="com.dayi.follow.model.follow.RolePermission">
        <id property="id" column="id"/>
        <result property="roleid" column="roleid"/>
        <result property="permissionid" column="permissionid"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getListRoleId" resultMap="rolePermissionResultMap">
        SELECT * FROM role_permission  WHERE roleid = #{roleid}
    </select>

    <delete id="deleteByRoleid" parameterType="java.lang.String">
        DELETE FROM role_permission WHERE roleid = #{roleid}
    </delete>

    <delete id="deleteByPerId" parameterType="java.lang.String">
        DELETE FROM role_permission WHERE permissionId = #{perId}
    </delete>

    <insert id="addBatch" parameterType="java.util.List">
        insert into role_permission (id,roleid,permissionid,create_time,update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.roleid},#{item.permissionid},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

</mapper>

