<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.SourceReportMapper">

    <select id="findByTime" resultType="com.dayi.follow.vo.report.SourceReportVo" parameterType="map">
        select *,date(create_time)date from source_report where create_time between #{startDate} and #{endDate}
        <if test="null !=type">
            and type =#{type}
        </if>
    </select>

    <select id="sumByTime" resultType="com.dayi.follow.vo.report.SourceReportVo" parameterType="map">
        select type,sum(in_cash)inCash,sum(out_cash)outCash,sum(growth_fund)growthFund,
              sum(manage_fund)manageFund,sum(manage_growth_fund)manageGrowthFund
        from source_report
        where create_time between #{startDate}
        and #{endDate} and type =#{type}
    </select>


    <select id="getMakerManageFund" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.useable + c.frozen + c.out_frozen +  0.8*c.cargo_interest+c.cargo_interest_puchas),0)manageFund
        from ${assistDataBase}.agent a
        right join (
        SELECT id from ${assistDataBase}.organization where org_type in (4,5) and status=1 and del_status!=-1
        )b on a.org_id = b.id
        left join (
        SELECT * from ${assistDataBase}.finance_account  WHERE create_date &lt; #{endDate}
        )c on c.id =a.account_id
        where a.del_status != -1
    </select>

    <select id="getMakerInCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.inAccrual),0)
        from ${assistDataBase}.agent a
        right join (
        SELECT id from ${assistDataBase}.organization where org_type in (4,5) and status=1 and del_status!=-1
        )b on a.org_id = b.id
        LEFT JOIN (
        select agent_org_id,sum(accrual)inAccrual
        from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
        and pay_type=1 and account_type != 1 GROUP BY agent_org_id
        )c on c.agent_org_id=a.id
        where a.del_status != -1
    </select>

    <select id="getMakerOutCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.outAccrual),0)
        from ${assistDataBase}.agent a
        right join (
        SELECT id from ${assistDataBase}.organization where org_type in (4,5) and status=1 and del_status!=-1
        )b on a.org_id = b.id
        LEFT JOIN (
        select agent_org_id,sum(accrual)outAccrual
        from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
        and pay_type in (-9,-112) and account_type != 1 GROUP BY agent_org_id
        )c on c.agent_org_id=a.id
        where a.del_status != -1
    </select>


    <select id="getOtherManageFund" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.useable + c.frozen + c.out_frozen +  0.8*c.cargo_interest+c.cargo_interest_puchas),0)manageFund
        from ${assistDataBase}.agent a
        left join (
        SELECT agent_id,follow_id from follow_agent
        )b on a.id = b.agent_id
        left join ${assistDataBase}.finance_account c on c.id =a.account_id
        where a.del_status != -1 and a.org_id is NULL and b.follow_id is NULL
    </select>

    <select id="getOtherInCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.inAccrual),0)
        from ${assistDataBase}.agent a
        left join (
        SELECT agent_id,follow_id from follow_agent
        )b on a.id = b.agent_id
        LEFT JOIN (
        select agent_org_id,sum(accrual)inAccrual
        from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
        and pay_type=1 and account_type != 1 GROUP BY agent_org_id
        )c on c.agent_org_id=a.id
        where a.del_status != -1 and a.org_id is NULL and b.follow_id is NULL
    </select>

    <select id="getOtherOutCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(c.outAccrual),0)
        from ${assistDataBase}.agent a
        left join (
        SELECT agent_id,follow_id from follow_agent
        )b on a.id = b.agent_id
        LEFT JOIN (
        select agent_org_id,sum(accrual)outAccrual
        from ${assistDataBase}.finance_account_log WHERE create_date between  #{startDate}  and #{endDate}
        and pay_type in (-9,-112) and account_type != 1 GROUP BY agent_org_id
        )c on c.agent_org_id=a.id
        where a.del_status != -1 and a.org_id is NULL and b.follow_id is NULL
    </select>

    <select id="getFollowUpManageFund" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(manage_fund),0)manageFund from follow_up_log a
        where create_time between  #{startDate}  and #{endDate}
    </select>

    <select id="getFollowUpInCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(in_cash),0)inCash from follow_up_log a
        where create_time between  #{startDate}  and #{endDate}
    </select>

    <select id="getFollowUpOutCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT ifnull(sum(out_cash),0)outCash from follow_up_log a
        where create_time between  #{startDate}  and #{endDate}
    </select>

</mapper>