<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.follow.UserMapper">
    <resultMap id="BaseResultMap" type="com.dayi.follow.vo.user.UserVo">
        <id property="id" column="id"/>

        <result property="name" column="name"/>
        <result property="userName" column="user_name"/>
        <result property="inviteCode" column="invite_code"/>
        <result property="disable" column="disable"/>
        <result property="createTime" column="create_time"/>
        <association property="department" javaType="com.dayi.follow.model.follow.Department"
                     select="com.dayi.follow.dao.follow.DeptMapper.get"
                     column="dept_id" fetchType="lazy">
        </association>

    </resultMap>


    <select id="findByDeptIds" parameterType="java.lang.String" resultType="com.dayi.follow.model.follow.FollowUp">
        SELECT * from follow_up where disable !=0
        andn dept_id in
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>


    <select id="findIdsByDeptIds" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id from follow_up where disable !=0
        andn dept_id in
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <select id="findIdsByDeptId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT id from follow_up where disable !=0
        and dept_id =#{deptId}
    </select>

    <select id="findPage" parameterType="map" resultMap="BaseResultMap">
        SELECT * from follow_up where 1=1
        <if test="''!=name and null!=name">
            and name like "%"#{name}"%"
        </if>

        <if test="''!=deptId and null!=deptId">
        and dept_id =#{deptId}
        </if>

        <if test="''!=inviteCode and null!=inviteCode">
            and invite_code like "%"#{inviteCode}"%"
        </if>
    </select>

</mapper>