<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.dayi.AgentMapper">


    <!--查找代理商最后登录时间-->
    <select id="findLastLoginTime" resultType="java.util.Date" parameterType="java.lang.Integer">
         SELECT create_date FROM `finance_login_log` WHERE login_id = #{agentId} ORDER BY create_date DESC LIMIT 1
    </select>
    <!--查找代理商最近代理数据-->
    <select id="countRecentAgent" resultType="com.dayi.follow.vo.agent.AgentListVo" parameterType="java.lang.Integer">
            SELECT DATE_FORMAT(create_date, '%Y-%m-%d') recentAgentDate, IFNULL(SUM(amount), 0) recentAgentFund
             FROM protocol WHERE STATUS in (1,2) AND agent = #{agentId}
             GROUP BY recentAgentDate
             ORDER BY recentAgentDate DESC
            LIMIT 0, 1
    </select>

    <select id="findByOrgId" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.Agent">
        SELECT * from agent where org_id =#{orgId} and del_status != -1
    </select>

    <select id="getAgentFund" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(amount), 0) FROM protocol where status in (1,2) and agent = #{agentId}
    </select>


    <select id="getDayInCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT  IFNULL(SUM(accrual), 0) accrual FROM finance_account_log
        WHERE create_date between #{todayStart} and #{todayEnd} and pay_type = 1
        AND agent_org_id = #{agentId}
    </select>

    <select id="getDayLastInCashTime" parameterType="map" resultType="java.util.Date">
        SELECT create_date FROM finance_account_log
        WHERE create_date between #{todayStart} and #{todayEnd} and pay_type = 1
        AND agent_org_id = #{agentId}
        ORDER BY create_date DESC
        LIMIT 0, 1
    </select>

    <select id="getDayOutCash" parameterType="map" resultType="java.math.BigDecimal">
             SELECT  IFNULL(SUM(accrual), 0) accrual FROM finance_account_log
             WHERE create_date between #{todayStart} and #{todayEnd} and pay_type =-9
                AND agent_org_id =  #{agentId}
    </select>

    <select id="getDayToCard" parameterType="map" resultType="java.math.BigDecimal">
        SELECT  IFNULL(SUM(accrual), 0) accrual FROM finance_account_log
        WHERE create_date between #{todayStart} and #{todayEnd} and pay_type = -112
        AND agent_org_id = #{agentId}
    </select>

    <select id="getDayApplyOutCash" parameterType="map" resultType="java.math.BigDecimal">
        SELECT  IFNULL(SUM(accrual), 0) accrual FROM finance_account_log
        WHERE create_date between #{todayStart} and #{todayEnd} and pay_type = -114
        AND agent_org_id = #{agentId}
    </select>

    <select id="getDayLastApplyOutCashTime" parameterType="map" resultType="java.util.Date">
        SELECT  create_date FROM finance_account_log
        WHERE create_date between #{todayStart} and #{todayEnd} and pay_type = -114
        AND agent_org_id = #{agentId}
         ORDER BY create_date DESC
        LIMIT 0, 1
    </select>

    <select id="getOpenBankIdsStr" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT bank_ids from agent a left join (
            select agent_id,GROUP_CONCAT( bank_id ORDER BY bank_id ) bank_ids FROM finance_vitrual_account
             GROUP BY agent_id)
           h ON a.id = h.agent_id where a.del_status != -1 and agent_id=#{agentId};
    </select>

    <select id="getAccount" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.Account">
        SELECT  useable,frozen,out_frozen,total_in_cash,cargo_interest,cargo_interest_puchas,bank_real_name,interest from finance_account where agent_org_id =#{agentId}
    </select>

    <select id="findLoginLog" parameterType="map" resultType="com.dayi.follow.vo.LoginLogVo">
        select * from  finance_login_log where login_id =#{agentId} order by create_date desc
    </select>

    <select id="findLevel1ByOrgId" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.Agent">
        SELECT * from agent where org_id =#{orgId} and del_status != -1 and invite_level =1
    </select>

    <select id="getByUcId" parameterType="java.lang.String" resultType="com.dayi.follow.model.follow.Agent">
        SELECT * from agent where uc_id =#{ucId}
    </select>

</mapper>