<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.dayi.AgentMapper">


    <!--查找代理商最后登录时间-->
    <select id="findLastLoginTime" resultType="java.util.Date" parameterType="java.lang.Integer">
         SELECT create_date FROM `finance_login_log` WHERE login_id = #{agentId} ORDER BY create_date DESC LIMIT 1
    </select>
    <!--查找代理商最近代理数据-->
    <select id="countRecentAgent" resultType="com.dayi.follow.vo.AgentListVo" parameterType="java.lang.Integer">
            SELECT DATE_FORMAT(create_date, '%Y-%m-%d') recentAgentDate, IFNULL(SUM(amount), 0) recentAgentFund
             FROM protocol WHERE (STATUS = 1 OR STATUS = 2) AND agent = #{agentId}
             GROUP BY recentAgentDate
             ORDER BY recentAgentDate DESC
            LIMIT 0, 1
    </select>

    <select id="findByOrgId" parameterType="java.lang.Integer" resultType="com.dayi.follow.vo.AgentVo">
        SELECT * from agent where org_id =${orgId} and del_status != -1
    </select>

    <select id="getAgentFund" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT IFNULL(SUM(amount), 0) FROM protocol where (status = 1 or status = 2) and agent = ${agentId}
    </select>



</mapper>