<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.dayi.AgentMapper">


    <!--查找代理商最后登录时间-->
    <select id="findLastLoginTime" resultType="java.util.Date" parameterType="java.lang.Integer">
         SELECT create_date FROM `finance_login_log` WHERE login_id = #{agentId} ORDER BY create_date DESC LIMIT 1
    </select>
    <!--查找代理商最近代理数据-->
    <select id="countRecentAgent" resultType="com.dayi.follow.vo.AgentListVo" parameterType="java.lang.Integer">
            SELECT DATE_FORMAT(create_date, '%Y-%m-%d') recentAgentDate, IFNULL(SUM(amount), 0) recentAgentFund
             FROM protocol WHERE (STATUS = 1 OR STATUS = 2) AND agent = #{agentId}
             GROUP BY recentAgentDate
             ORDER BY recentAgentDate DESC
            LIMIT 0, 1
    </select>

    <select id="getCusNum" parameterType="map" resultType="java.lang.Integer">
            SELECT count(b.id)  from dayi_follow_all.follow_agent a
            left join (SELECT id FROM agent  where del_status != -1) b on b.id = a.agent_id
            WHERE  a.follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>

    </select>

    <select id="getLinkCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
          left join (SELECT id FROM agent  where del_status != -1) b on b.id = a.agent_id
        WHERE a.customer_type !=1 and a.follow_id in
        <foreach item="item" index="index" collection="followIds"
           open="(" separator="," close=")">
        #{item}
    </foreach>

    </select>

    <select id="getNameCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join (SELECT id from agent where (audit_status IN (1 ,- 3) OR cancel_status = 3) and del_status != -1) b
        on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getCardCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join ( SELECT  id FROM agent WHERE bank_account is not null and del_status != -1) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getInCashCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join (
          SELECT b1.id  FROM agent b1
          LEFT JOIN finance_account b2 ON b1.account_id = b2.id WHERE b2.total_in_cash > 0  and b1.del_status != -1
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAgentCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join (
          SELECT id FROM agent b1, (SELECT DISTINCT agent FROM protocol ) b2 WHERE b1.id = b2.agent and b1.del_status != -1
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getNoFundCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join (
            SELECT b1.id FROM agent b1 LEFT JOIN finance_account b2 ON b1.account_id = b2.id
              LEFT JOIN (
                  SELECT agent, IFNULL(SUM(amount), 0) amount from protocol WHERE (status = 1 OR status = 2) GROUP BY agent
              ) b3 ON b1.id = b3.agent
            WHERE b1.del_status != -1 and IFNULL(b2.useable + b2.frozen + b2.out_frozen + IFNULL(b3.amount, 0), 0) = 0
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLostCusNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(b.id)  from dayi_follow_all.follow_agent a
        left join (SELECT id from agent WHERE del_status != -1) b on b.id = a.agent_id
        WHERE  a.customer_type =5 and  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>



</mapper>