<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.dayi.CountMapper">

    <select id="getCusNum" parameterType="map" resultType="java.lang.Long">
            SELECT count(b.id)  from ${assistDataBase}.follow_agent a
            left join (SELECT id FROM agent  where del_status != -1) b on b.id = a.agent_id
            WHERE  a.follow_id in
            <foreach item="item" index="index" collection="followIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>

    </select>

    <select id="getLinkCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
          left join (SELECT id FROM agent  where del_status != -1) b on b.id = a.agent_id
        WHERE a.customer_type !=1 and a.follow_id in
        <foreach item="item" index="index" collection="followIds"
           open="(" separator="," close=")">
        #{item}
    </foreach>

    </select>

    <select id="getNameCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join (SELECT id from agent where id_card is not null  and del_status != -1) b
        on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getCardCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join ( SELECT  id FROM agent WHERE bank_account is not null and del_status != -1) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getInCashCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join (
          SELECT b1.id  FROM agent b1
          LEFT JOIN finance_account b2 ON b1.account_id = b2.id WHERE b2.total_in_cash > 0  and b1.del_status != -1
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAgentCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join (
          SELECT id FROM agent b1, (SELECT DISTINCT agent FROM protocol ) b2 WHERE b1.id = b2.agent and b1.del_status != -1
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getNoFundCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join (
            SELECT b1.id FROM agent b1 LEFT JOIN finance_account b2 ON b1.account_id = b2.id
            WHERE b1.del_status != -1 and IFNULL(b2.useable + b2.frozen + b2.out_frozen + 0.8*b2.cargo_interest+b2.cargo_interest_puchas, 0) = 0
        ) b on b.id = a.agent_id
        WHERE  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLostCusNum" parameterType="map" resultType="java.lang.Long">
        SELECT count(b.id)  from ${assistDataBase}.follow_agent a
        left join (SELECT id from agent WHERE del_status != -1) b on b.id = a.agent_id
        WHERE  a.customer_type =5 and  a.follow_id IN
        <foreach item="item" index="index" collection="followIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAgentNumWait2Link" parameterType="map" resultType="java.lang.Long">
     SELECT count(DISTINCT agent_id) from ${assistDataBase}.agent_contact
     where follow_id = #{followId} and next_contact_time   BETWEEN #{startDate} and #{endDate}
    </select>

    <select id="countCusTypeRatio" parameterType="java.lang.String" resultType="com.dayi.follow.vo.index.CusTypeRatioVo">
        SELECT a.customer_type cusType,count( b.agent_id ) num
        FROM
        (
            SELECT 1 customer_type UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6
        ) a
        LEFT JOIN (
            SELECT agent_id,b1.customer_type
            FROM ${assistDataBase}.follow_agent b1
            LEFT JOIN ( SELECT * FROM agent WHERE del_status != - 1 ) b2 ON b1.agent_id = b2.id
            WHERE b1.follow_id = #{followId} AND b2.id IS NOT NULL
        ) b ON b.customer_type = a.customer_type
        GROUP BY
        a.customer_type
    </select>
    
    <select id="countCusFundRank" parameterType="java.lang.String" resultType="com.dayi.follow.vo.index.FundRankVo">
        SELECT fam.type as fundRank,count(a.id) num
        from (
            SELECT fa.agent_org_id,
                CASE WHEN IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0) = 0 THEN 1
                WHEN 0  &lt; IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)
                and IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)  &lt;= 20000 THEN 2
                WHEN 20000  &lt;  IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)
                and  IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)  &lt;=100000 THEN 3
                WHEN 100000 &lt; IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)
                and IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)  &lt;=500000 THEN 4
                WHEN 500000 &lt; IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)
                and IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)  &lt;= 1000000 THEN 5
                WHEN 1000000 &lt; IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)
                and IFNULL(useable + frozen + out_frozen +  0.8*cargo_interest+cargo_interest_puchas, 0)  &lt;= 3000000 THEN 6
                ELSE 7 END AS type
            FROM finance_account fa
        ) fam
        left join (
            SELECT id from agent
            LEFT JOIN (
              SELECT agent_id from ${assistDataBase}.follow_agent where follow_id = #{followId}
            )b on b.agent_id=agent.id
            where del_status != -1 and b.agent_id is not null
        )a ON a.id = fam.agent_org_id GROUP BY fam.type
    </select>

    <select id="countSevenOpen" parameterType="java.lang.String" resultType="com.dayi.follow.vo.index.SevenOpenVo">
           select click_date as dateStr, sum(IFNULL(open_account_num,0))num
              from (
                  SELECT date_sub(curdate(), interval 1 day) as click_date union all
                  SELECT date_sub(curdate(), interval 2 day) as click_date union all
                  SELECT date_sub(curdate(), interval 3 day) as click_date union all
                  SELECT date_sub(curdate(), interval 4 day) as click_date union all
                  SELECT date_sub(curdate(), interval 5 day) as click_date union all
                  SELECT date_sub(curdate(), interval 6 day) as click_date union all
                  SELECT date_sub(curdate(), interval 7 day) as click_date
              ) a left join (
                    SELECT open_account_num,date(create_time)date from ${assistDataBase}.follow_up_log where follow_id=#{followId}
              )b on a.click_date=b.date
              GROUP BY a.click_date
    </select>
    
    <select id="countSevenInCash" parameterType="java.lang.String" resultType="com.dayi.follow.vo.index.SevenInCashVo">
        select click_date as dateStr,sum(ifnull(in_cash,0))inCash
          from (   
              SELECT date_sub(curdate(), interval 1 day) as click_date union all
              SELECT date_sub(curdate(), interval 2 day) as click_date union all
              SELECT date_sub(curdate(), interval 3 day) as click_date union all
              SELECT date_sub(curdate(), interval 4 day) as click_date union all
              SELECT date_sub(curdate(), interval 5 day) as click_date union all
              SELECT date_sub(curdate(), interval 6 day) as click_date union all
              SELECT date_sub(curdate(), interval 7 day) as click_date
          )a
          left join (
              SELECT in_cash,date(create_time)date from ${assistDataBase}.follow_up_log where follow_id=#{followId}
          )b on a.click_date=b.date
          group by a.click_date
    </select>

    <select id="getNoAssignedAgentNum" resultType="java.lang.Long">
        SELECT count(0)
        from agent a
        left join (
            SELECT agent_id,follow_id  from ${assistDataBase}.follow_agent
        )b on b.agent_id =a.id
        where del_status !=-1 and b.follow_id is null
    </select>

    <select id="getNoAssignedOrgNum" resultType="java.lang.Integer">
        SELECT count(0)
        from organization a
        left join(
            SELECT org_id,follow_id from ${assistDataBase}.follow_org
        )b on b.org_id =a.id
        where b.follow_id is null and  del_status !=-1
    </select>

    <select id="getFollowAgentNum" resultType="java.lang.Long" parameterType="map">
        SELECT  count(0) from ${assistDataBase}.follow_agent a
        left join (
        SELECT id from agent where del_status !=-1
        )b on b.id = a.agent_id
        LEFT JOIN (
            SELECT id  from ${assistDataBase}.follow_up where disable!=0
        )c on c.id = a.follow_id
        where a.follow_id is not NULL and b.id is not null and c.id is not null
    </select>

    <select id="getFollowOrgNum" resultType="java.lang.Integer" parameterType="map">
        SELECT  count(0) from ${assistDataBase}.follow_org a
        left join (
        SELECT id from organization where del_status !=-1
        )b on b.id = a.org_id
        LEFT JOIN (
        SELECT id from ${assistDataBase}.follow_up where disable!=0
        )c on c.id = a.follow_id
        where a.follow_id is not NULL and b.id is not null and c.id is not null
    </select>
    
    <select id="getOrgValidAgentNum" parameterType="map" resultType="java.lang.Integer">
        SELECT count(p.id)num  from organization o
        left join (
            SELECT id,org_id from agent where del_status != -1
            <if test="null!=inviteLevel">
            and invite_level =${inviteLevel}
            </if>
        )a on o.id = a.org_id
        left join (SELECT agent,id from protocol WHERE protocol.`status`=1 GROUP BY agent)p on p.agent = a.id
        WHERE o.id= ${orgId} and o.org_type =4 and o.del_status != -1
    </select>

    <select id="countDaily" resultType="com.dayi.follow.vo.index.DailyVo" parameterType="java.lang.String">
        SELECT date(create_time) date,open_account_num openNum,
        in_cash ,in_cash_num ,
        out_cash ,out_cash_num
        from ${assistDataBase}.follow_up_log ful
        WHERE  date(create_time) =
        (select date(max(create_time)) from ${assistDataBase}.follow_up_log)
        and follow_id =#{followId}

    </select>

    <select id="countTeamDaily" resultType="com.dayi.follow.vo.index.DailyVo" parameterType="java.lang.String">
        SELECT date(create_time) date,sum(open_account_num )openNum,
        sum(in_cash)inCash ,sum(in_cash_num)inCashNum ,
        sum(out_cash)outCash ,sum(out_cash_num)outCashNum
        from ${assistDataBase}.follow_up_log a
        left join (
        SELECT id,name from ${assistDataBase}.department where id IN
        <foreach item="item" index="index" collection="deptIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        )b on b.id = a.dept_id
        WHERE b.id is not null and  date(create_time) =
        (select date(max(create_time)) from ${assistDataBase}.follow_up_log)
    </select>

</mapper>