<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.follow.dao.dayi.OrgMapper">

    <select id="getManageFundLevel1" parameterType="map" resultType="java.math.BigDecimal">
        select ifnull(sum(0.8*b.cargo_interest+b.cargo_interest_puchas),0)  from agent a
        LEFT  join (
            SELECT agent_org_id,cargo_interest,cargo_interest_puchas from finance_account
        )b on b.agent_org_id=a.id
        where  b.agent_org_id is not null
        and a.org_id =#{orgId} and a.invite_level=1
    </select>
    <select id="getManageFundLevel2" parameterType="map" resultType="java.math.BigDecimal">
        select ifnull(sum(0.8*b.cargo_interest+b.cargo_interest_puchas),0)  from agent a
        LEFT  join (
            SELECT agent_org_id,cargo_interest,cargo_interest_puchas from finance_account
        )b on b.agent_org_id=a.id
        where  b.agent_org_id is not null
        and a.org_id =#{orgId} and a.invite_level=2
    </select>

    <select id="getByMarkerNum" parameterType="java.lang.String" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from organization where maker_num =#{makerNum} and del_status!=-1
    </select>

    <select id="getManagerOrgByInviteCode" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.Organization">
        SELECT * from organization where invite_code =#{inviteCode} and del_status!=-1 and org_type =1
    </select>

    <select id="getColligateOrgByInviteCode" parameterType="java.lang.Integer" resultType="com.dayi.follow.model.follow.Organization">
         SELECT * from organization where word_letter=#{word} and del_status!=-1 and org_type =2 and invite_code =#{inviteCode}
    </select>
</mapper>